.cc-input {
    border: 1px solid #000;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
    text-align: left !important;
}

.cc-input-wrapper{
    margin: 10px 0px;
    width: 100%;
}
